.primeraParte {
   
    margin: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    img {
        width: 70%;
        margin-bottom: 20px;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 30px;
        
    }
} 