.noticia {
   
    margin: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;


    h1 {
        font-weight: bold;
        font-size: 2.1rem;
        margin: 0 20px 30px 20px;
        width: 70%;
    }
    img {
        width: 70%;
        margin-bottom: 20px;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 30px;
        
    }
}