$fondotitulo: #3bb78f;
$gradientetitulo: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);

@import "menu";
@import "footer";
@import "salud";
@import "historia";
@import "autoridades";
@import "inicio";
@import "titulospages";
@import "contacto";
@import "noticias";
@import "balnearios";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Comfortaa', cursive;  
    
}
/*.tarjetasUltimasNoticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}*/

@media (max-width: 1200px) {

    /*#################*/ 
    /*RESPOSNIVE AUTORIDADES*/
    /*#################*/
    .contenedor-intendente {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
        justify-items: center;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 50px;    
        }
    
    .fotoIntendente img {
            width: 200px;
    }
    
    .tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-right: 50px;
        margin-left: 50px;
        }
    
    .card3, .card2, .card1 {
        margin-top: 15px;
    }
    
     }
    
    @media (max-width: 768px) {

    .tarjetas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-right: 50px;
            margin-left: 50px;
    }
    
    .card3, .card2, .card1 {
            margin-top: 15px;
    }
    
    .mapsUbicacion iframe {
            width: 100%;
            height: 250px;
    }
    
    /*#################*/ 
    /*RESPOSNIVE AUTORIDADES*/
    /*#################*/
    .contenedor-intendente {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
        justify-items: center;
        align-items: center;
        margin-bottom: 10px;
    }
        
    .fotoIntendente img {
         width: 200px;     
    }
  
    /*#################*/ 
    /*RESPOSNIVE SALUD*/
    /*#################*/
    
    .tarjetasEspecialistas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .cardepecialistas p {
        font-size: 1rem;
    }
    
    .hospital {
        margin: 20px 100px 20px 100px;
        display: flex;
        flex-direction:column;
    }
    
    .hospital img {
        width: 90%;
    }
    
    }
    
    @media (max-width: 640px) {
    /*#################*/
    /*RESPOSNIVE INDEX*/
    /*#################*/
    
    .san-carlos-minas h1 {
        font-size: 2rem;
        justify-content: center;
    }
    .san-carlos-minas p {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 1rem;
        justify-content: center;
    }
    
    .titulo h1 {
        font-size: 0.8rem;
        margin-right: 0;
        margin-left: 0;
    }
    
   
    
    .tarjetas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .card1, .card2, .card3 {
        margin-top: 10px;
    }
    
    .mapsUbicacion iframe {
        width: 100%;
        height: 200px;
    }
    
    /*#################*/ 
    /*RESPOSNIVE AUTORIDADES*/
    /*#################*/
    .contenedor-intendente {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
    
    }
    
    .fotoIntendente img {
        width: 200px;
    }
    
  
    /*###############*/
    /*RESPONSIVE A CONTACTO*/
    /*###############*/
    .formulario {
        width: 400px;
    }
    
    /*###############*/
    /*RESPONSIVE A SALUD*/
    /*###############*/
    
    .tarjetasEspecialistas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .cardepecialistas p {
        font-size: 1rem;
    }
    
    .hospital {
        margin: 20px 100px 20px 100px;
        display: flex;
        flex-direction:column;
    }
    
    .hospital img {
        width: 90%;
    }
    
    }
    
    @media (max-width: 580px) {
    /*#################*/ 
    /*RESPOSNIVE INDEX*/
    /*#################*/
    .card1 img, .card2 img, .card3 img {
         height: 40%;
    }
        
    .card1 p, .card2 p, .card3 p {
        margin: 0 10px 10px 10px;
        text-align:justify;
        font-size: 0.9rem;
        }
    .card1 a, .card2 a, .card3 a  {
        margin: 0 50px 0 50px;
        font-size: 0.9rem;
    }
    
    /*###############*/
    /*RESPONSIVE A CONTACTO*/
    /*###############*/
    .formulario {
        width: 400px;
    }
    
    /*###############*/
    /*RESPONSIVE A SALUD*/
    /*###############*/
    
    .tarjetasEspecialistas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .cardepecialistas p {
        font-size: 1rem;
    }
    .hospital {
        margin: 20px 100px 20px 100px;
        display: flex;
        flex-direction:column;
    }
    
    .hospital img {
        width: 90%;
    }
    }